body {
    margin: 16px;
    text-align: center;
}
.btn {
    color: aliceblue;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(16, 32, 175);
    width: 500px;
    height: 50px;
}